html {
  font-family: 'Times New Roman', Times, serif;
}

.bookCard {
  flex-direction: column;
  border: solid 1px black;
}

.bookAuthor {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(14, 118, 192);
}
