html {
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-content {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}
